@charset "utf-8";

header {
    background-color: rgb(218, 143, 109); 
    text-align: center;
}

h1{
    font-family: cursive;
    color: white;
    text-shadow: red 5px 0px;
}

body{
    background-color: rgb(221, 211, 69);
}

table{
    background-color: yellow;
    text-align: center;
    color: orange;
    width: 100%;
    font-family: sans-serif;
    border: 5px red solid;
}

main{
    background: url("img/naranja.png") top  repeat-y,
    url("img/naranja.svg") top bottom repeat-y;
  padding: 0 70px;
}

p{
    font-family: sans-serif;

}

p#naranja {
    position: absolute;
    padding-left: 50px;
    padding-right: 50px; 
    top: 35%;
    left: 25%;
    right: 25%;
    bottom: 30%;
    border: red 3px solid;
    background-color: rgb(218, 143, 109);
    text-align: center;
    text-decoration: overline;
    font-size: 18px;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: rgb(114, 11, 11);
    z-index: 1;
  }

  p#azul {
    position: absolute;
    padding-left: 50px; 
    top: 55%;
    left: 55%;
    right: 5%;
    bottom: 10%;
    border: rgb(40, 133, 161) 3px solid;
    background-color: rgb(109, 187, 218);
    text-align: right;
    font-size: 15px;
    letter-spacing: -1px;
    word-spacing: 3px;
    color: rgb(221, 211, 69);
  }

  p#verde {
    position: absolute;
    padding-right: 30px; 
    top: 55%;
    left: 5%;
    right: 55%;
    bottom: 10%;
    border: rgb(167, 167, 0) 3px solid;
    background-color: rgb(218, 218, 59);
    text-align: left;
    font-size: 15px;
    letter-spacing: 4px;
    word-spacing: 3px;
    color: rgb(167, 167, 0);
  }

  footer{
    color: blue;
    position: absolute;
    top: 95%;
    left: 0%;
    right: 0%;
    background-color: rgb(218, 143, 109);
  }

  ul{
      list-style-type: upper-roman;
  }
  
  address{
      color: orange;
      text-align: center;
      background-color: yellow;

  }

  p:hover {
    z-index: 2;
  }


